name: build-images

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
      packages: write
      id-token: write

    strategy:
      matrix:
        image_name: 
          - trixie-tools
          - trixie-tools-runtime
          # legacy images
          #- bookworm-tools
          #- bookworm-tools-runtime
      max-parallel: 1
      fail-fast: true
          
    uses: b521f771d8991e6f1d8e65ae05a8d783/base-tools/.github/workflows/ci.yml@main
    with:
      image_name: ${{ matrix.image_name }}
