name: Build Windows Image

on:
  workflow_dispatch:
  push:

jobs:
  build-image:
    runs-on: windows-latest
    steps:
      # checkout the repo
      - name: "Checkout GitHub Action"
        uses: actions/checkout@v4.2.2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        shell: powershell
        run: |
          docker build . -f windows-tools.dockerfile -t windows-tools:latest
          docker push ghcr.io/b521f771d8991e6f1d8e65ae05a8d783/base-tools/windows-tools:latest
